@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <img src="~/images/logo.png" alt="Connection world logo" width="100">
    <p class="lead">Connect World is more than a website that helps students to upload and download documents.</p>
    <br />
    <p>Connect World started of as small technology company, strictly for students by students. The main purpose for creating the website 
    was to help student all over the world. Making life easier for the students by providing them with a free and save storage where they can 
    save school work.</p>
    <br />
    <p>Connect World soon realized that they can do so much more for students. The company got bigger and so did the studnet privileges. 
    Students could now access each others files if the permission was given. They can also talk in real time making use of the website to help each 
    other with school work.</p>
    <br />
    <p>Connect World will keep growing for students trying to make their lives easier.</p>
</div>