@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <img src="~/images/logo.png" alt="Connection world logo" width="150">
    <div class="row">
        <div class="col-md-4">

            <h3><u>Follow us</u></h3>
            <a href="http://m.facebook.com"><img src="~/images/facebook.png" alt="facebook logo" width="40"></a>
            <br />
            <a href="https://mobile.twitter.com"><img src="~/images/twitter.png" alt="twitter logo" width="40"></a>
        </div>
        <div class="col-md-4">
            <h3><u>Contact us</u></h3>
                  
               <a href="https://www.google.com">
                    <img src="~/images/gmail.png" alt="email logo" width="40"> connectworld@gmail.com
               </a>
           
            <br />
                <img src="~/images/call.jpeg" alt="call logo" width="40">0623568911
            
        </div>
    </div>

</div>
