@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/logo.png" alt="Connection world logo">
    <p class="lead">Connect World is a free website giving studnets only the best and the easiest way to store documents.</p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>UPLOAD NEW DOCUMENTS</h2>
            <img src="~/images/upload.jpeg" alt="upload logo" width="80">
            <p>
                Upload
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>DOWNLOAD DOCUMENTS</h2>
            <img src="~/images/download.png" alt="download logo" width="80">
            <p>Download</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>SEARCH FOR DOCUMENTS</h2>
            <img src="~/images/search.png" alt="search logo" width="80">
            <p>Search</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

